/*Estilo geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background-color: #cfcfcf;
    height: 100vh;
}
.interface{
    min-width: 1280px;
    margin: 0 auto;
}

/*Estilo do Cabeçlho*/
header{
    padding: 40px 4%;
}